<br>
<br>
<br>
<h2 class="text-white text-center">Tecnologias Utilizadas</h2>
<br>
<div class="container">
  <div class="row">
    <div class="col-4 col-sm-2 mx-auto text-center">
      <img src="assets/Home/Bootstrap.png" alt="Bootstrap" class="img-fluid">
    </div>
    <div class="col-4 col-sm-6 text-white">
      La estética y la experiencia del usuario se beneficiaron en gran medida de
      Bootstrap, un marco de diseño front-end. Bootstrap simplificó la creación de
      interfaces de usuario atractivas y receptivas, lo que mejoró la presentación de
      datos y la interacción con los usuarios. La combinación de Angular, Spring, Oracle
      y Bootstrap permitió desarrollar una aplicación robusta, escalable y segura.
    </div>
    <div class="w-100"></div>
<br>
    <div class="col-4 col-sm-6 text-white text-end">
      En el proyecto, se empleó Angular como un framework de desarrollo front-end para
      crear una interfaz de usuario eficiente y moderna. Esta tecnología permitió la
      construcción de componentes reutilizables y facilitó la gestión de formularios,
      el enrutamiento, y las interacciones con el usuario. Además, Angular se utilizó
      para presentar los datos provenientes del back-end y brindar una experiencia de
      usuario atractiva.
    </div>
    <div class="col-4 col-sm-2 mx-auto text-center">
      <img src="assets/Home/Angular.png" alt="Angular" class="img-fluid">
    </div>

    <div class="w-100"></div>

    <div class="col-4 col-sm-2 mx-auto text-center">
      <img src="assets/Home/spring-boot.png" alt="Spring boot" class="img-fluid">
    </div>
    <div class="col-4 col-sm-6 text-white">
      Para gestionar las operaciones del lado del servidor, se optó por Spring, un marco
      de desarrollo de aplicaciones Java altamente escalable y seguro. En particular, se
      utilizó Spring Boot, que simplificó el desarrollo del back-end. La aplicación se
      benefició de los controladores de Spring para manejar las solicitudes del cliente,
      los servicios para la lógica empresarial y la interacción con la base de datos Oracle.
      Además, se destacó la seguridad y la gestión de transacciones que Spring proporcionó.
    </div>

    <div class="w-100"></div>
    <br>

    <div class="col-4 col-sm-6 text-white text-end">
      En el proyecto, Oracle desempeñó un papel fundamental como sistema de gestión de bases
      de datos relacional. Se utilizó para el diseño y creación de la estructura de la base de
      datos, incluyendo la definición de tablas, procedimientos almacenados y consultas SQL.
      Aspectos técnicos como la optimización de consultas, la gestión de transacciones y la
      seguridad de los datos se abordaron con la funcionalidad avanzada que Oracle ofrece.
    </div>
    <div class="col-4 col-sm-3 mx-auto text-center">
      <img src="assets/Home/Oracle.png" alt="Oracle" class="img-fluid">
    </div>
  </div>
</div>
