<nav class="navbar navbar-light fixed-top"  style="background-color: #41b4a8">
    <div class="container-fluid">
        <a class="navbar-brand text-white" (click)="irPage(HomeComponent.ROUTE)"><i class="bi bi-clipboard2"></i> Administracion De Usuarios</a>

      <button *ngIf="isLogged()" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <button *ngIf="!isLogged()" (click)="irPage(LoginRegistreComponent.ROUTE)" class="navbar-toggler text-white" type="button" data-bs-toggle="offcanvas" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <i class="bi bi-box-arrow-in-right"></i> Sign In
      </button>

      <div class="offcanvas offcanvas-end" style="background-color: #d2efde" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" style="color: #d18088" id="offcanvasDarkNavbarLabel"><b>Dark OFFCANVAS</b></h5>
                <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link"  style="color: black" aria-current="page" role="button" (click)="irPage(HomeComponent.ROUTE)"><b><i class="bi bi-house"></i> Home</b></a>
                    </li>
                    <li class="nav-item dropdown" *ngIf="extraerRolActual() === UserRolEnum.ROL_ADMIN">
                        <a class="nav-link dropdown-toggle"  style="color: #41b4a8" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                           <b><i class="bi bi-clipboard2"></i> Administración de Usuarios</b>
                        </a>
                        <ul class="dropdown-menu" style="background-color: #41b4a8">
                            <li><a class="dropdown-item" style="color: #523961" (click)="irPage(UsuariosComponent.ROUTE)" *ngIf="extraerRolActual() === UserRolEnum.ROL_ADMIN"><b><i class="bi bi-person-circle" style="color: #523961"></i> Usuarios</b></a></li>
                            <li><a class="dropdown-item" style="color: #523961" (click)="irPage(UsuariosComponent.ROUTE + '/'+RolesComponent.ROUTE)" *ngIf="extraerRolActual() === UserRolEnum.ROL_ADMIN"><b><i class="bi bi-person-badge-fill" style="color: #523961"></i> Roles</b></a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item"  style="color: #523961" href="#"><b>Something else here</b></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="offcanvas-footer">
                <form class="form-inline" style="color: #c3bbc9">
                    <button type="button"  class="btn" style="background-color: #d18088; color: white"  (click)="AuthService.SIGN_OFF(); irPage(LoginRegistreComponent.ROUTE)" >
                        <b><i class="bi bi-box-arrow-right" style="color: white"></i> Sign Off</b>
                    </button>
                </form>
            </div>
        </div>
    </div>
</nav>
